.block
  .centered
    = image_tag "https://photos-2.dropbox.com/t/0/AADCJFGLO7RummeCIVzbT5Kw7zHNR594XGERjJemeTsLPw/12/2717749/png/1024x768/3/1393488000/0/2/lettres-img.png/OkgsrSCfRsFIKCgvflOWQpVeHmGA-Dte1S4mqhub5vQ", class: "img"