#fullpage
  #intro.section
    .row
      .col-lg-12
        %p
          = image_tag 'logo-lettres-blanco.png'
        %p 
          %b HANDLETTERING
          WORKSHOP
        %p 18 DE JULIO CIUDAD DE MÉXICO
        %p 
          POR
          %b LETTRES
  #info.section
    .row
      .col-lg-8.col-lg-offset-2
        %i.info-icon
        %h2 INFORMACIÓN
        %p El taller va orientado al publico general que se interesen en la tipografía y las formas tipográficas para poder crear logotipos, diseños para camisas, diseños de tarjetas, empaque, identidad corporativa, diseño editorial y cualquier área donde la tipografía este presente.
        %p El asistente al taller aprenderá los principios básicos del Lettering, qué es, cuál es su diferencia entre la caligrafía y la tipografía, cuáles fueron sus inicios y varios métodos para lograr hacer una composición de letras para cualquier proyecto, así como diferentes técnicas de bocetaje y herramientas necesarias para realizar estilos diferentes de Lettering. 
  #requirements.section
    .row
      .col-lg-4.col-lg-offset-2
        %h2 PROGRAMA
        %ul
          %li Presentación
          %li Introducción: ¿Qué es el Lettering?
          %li Caligrafía, Lettering y Tipografía
          %li Referentes del Lettering
          %li Introducción a herramientas e instrumentos
          %li Reconocimiento de herramienta
          %li Ejercicio de caligrafía
          %li Bocetaje y construcción de la letra
          %li Selección de proyecto
          %li Bocetaje y layout de proyecto
          %li Afinación de boceto
          %li Detalles y acabados
          %li Comentarios y consejos
      .col-lg-4.col-lg-offset-1
        %h2
          MATERIALES
        %ul
          %li Plumones de diferentes tamaños y sharpie negro doble punta
          %li Lápiz y goma de borrar
          %li Tinta china
          %li Pinceles y/o brushes
          %li Tijeras o cuter
          %li Cinta
          %li Reglas
          %li Compás
          %li Plumillas caligráficas* 
          %li Brushpen*
          %li Parallel pen*
          %li *Opcional
  #about.section
    .row
      .col-lg-8.col-md-offset-2
        %h2 LETTRES: UN CHILO, UN CHOLO Y UN CHILANGO
        %p Unidos para conquistar al mundo.
        %p LETTRES es un proyecto formado por la pasión de la tipografía,la caligrafía; creando con estas ramas, diseño de lettering para identidad de imagen, campañas publicitarias, empaques, animación o cualquier otra aplicación que requiera de letras.
        %p Support your local letterers

  #event-info.section
    .row
      .col-lg-3.col-lg-offset-1
        %p 
          18 DE JULIO
          %br
          TALLER 10AM - 8PM
          %br
          COTORREO 8PM - ???
      .col-lg-3
        %p
          ATELIER
          %br
          ANTONIO MAURA 164-A
          %br
          Col. MODERNA A DOS
          %br
          CUADRAS DE METRO XOLA
          %br
          Y METROBÚS LAS AMÉRICAS
      .col-lg-3
        %p
          LETTRES.STUDIO@GMAIL.COM
          %br
          5547017841
          %br
          5591895931
          %br
          5543528483
