// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body{
  height: 100%
}
body{
  i {
    float: left;
    width: 42px;
    height: 41px;
    display: block;
    margin-left: -42px;
    margin-right: 10px;
  }
  .info-icon {
    background: url('info-icon.png') no-repeat center center;
  }
  .programa-icon {
    background: url('programa-icon.png') no-repeat center center;
  }
  .material-icon {
    background: url('material-icon.png') no-repeat center center;
  }
  .lettres-icon {
    background: url('lettres-icon.png') no-repeat center center;
  }
  .fecha-icon {
    background: url('fecha-icon.png') no-repeat center center;
  }
  .lugar-icon {
    background: url('lugar-icon.png') no-repeat center center;
  }
  .contacto-icon {
    background: url('contacto-icon.png') no-repeat center center;
  }

  h2 {
    height: 41px;
    line-height: 41px;
    margin-top: 0;
  }
  ul {
    padding-left: 20px;
  }

  .container-fluid{
    height: 100%;
  }
  .container {
    width: 100%;
  }
  p, h2, h3, ul, li {
    font-family: 'Montserrat', sans-serif;
  }
  background: url('pattern.png');
  .block {
    text-align: center;
    margin: 20px;
  }
  .block:before{
    content: '';
    display: inline-block;
    height: 100%; 
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
  .centered{
    top: 50%;
    display: inline-block;
    vertical-align: middle;
    width: 489px;
    padding: 10px 15px;
  }
  p{
    text-align: center;
  }
  a{
    text-decoration: underline;
  }
  #intro, #info, #requirements, #about, #event-info {
    height: 100vh;
    .row {
      margin: 0;
      position: relative;
      padding: 0;
      .col-lg-12, .col-lg-8 {
        padding: 0;
        margin-top: -50px;
      }
      h2 {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
  #info {
    p {
      text-align: left;
    }
  }
  #intro {
    background: url('1.jpg') no-repeat 100%;
    color: white;
    font-size: 18px;
    .row {
      .col-lg-12 {
        margin-top: -185px;
      }
    }
  }
  #requirements {
    background: url('materiales-bg.jpg') no-repeat 100%;
    .row {
      .col-lg-4 {
        margin-top: -200px;
      }
    }
  }
  #about {
    background: url('lettres-bg.jpg') no-repeat 100%;
    color: white;
    p {
      text-align: left;
    }
  }
  #event-info {
    background: url('calltoaction-bg.jpg') no-repeat 100%;
    i {
      margin-left: 0;
    }
    a, .row {
      text-align: center;
      margin-bottom: 50px;
    }
    p {
      font-size: 16px;
      text-align: left;
      float: left;
    }
  }
}
