!!!Strict
%html
  %head
    %title Lettres Studio
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag "application", "data-turbolinks-track" => true 

    %link{ rel: "stylesheet", href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" }
    %link{ rel: 'icon', type: 'image/x-icon', href: '/assets/favicon.ico' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Montserrat:400,700', rel:'stylesheet', type: 'text/css' }

    = csrf_meta_tags
    %meta{ property: "og:image", content: "http://www.lettres-studio.com/assets/share-link.jpg" }
  %body
    .container
      =#.page-header
      =#%ul.nav.nav-pills.pull-right
      =#  %li= link_to "Welcome", root_path
      =#  %li= link_to "Manage Posts", posts_path
      =#  %li= link_to "About", about_path
      =#%h1
      =#  =link_to "crumblr", '/'
      =#  %small // home baked goodness
      .row
        = yield
